<div class="crop" 
    [style.width.px]="starWidth"
    [title]="rating"
    (click)="onClick()"><!--Event binding: bind click event to a OnClick method in the star component class -->
    <div style="width: 86px">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>