<div class='panel panel-primary' *ngIf='product'>
  <div class='panel-heading'>
    {{pageTitle + ': ' + product?.productName }}
  </div>
  <div class='panel-footer'>
      <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td>Video Game Controller</td>
          </tr>
          <tr>
              <th>Code:</th>
              <td>GMG-0042</td>
          </tr>
          <tr>
              <th>Description:</th>
              <td>Standard two button video game controller</td>
          </tr>
        </tbody>
      </table>
      <a class='btn btn-default' (click)='onBack()' style='width:80px'>
          <i class='glyphicon glyphicon-chevron-left'></i> Back
      </a>
  </div>
</div>